h1,h2,h3 {
  text-align: center;
}
.gameTable { 
    padding: 0px;
    border-collapse: separate;
    background-color: #fff;
    margin: 0 auto;
}
.gameTable td { 
    width: 40px; 
    height: 40px; 
    background-color: #ddd;
    margin: 0px;
    padding: 0px;
    border-bottom: #aaa solid 4px;
    border-left: #aaa solid 4px;
    border-top: #eee solid 4px; 
    border-right: #eee solid 4px;
}

.gameTable td.mine {
    background-color: #f77;
    border: 4px solid #855;
    cursor: default;
}

.gameTable div.cellNum {
    text-align: center;
    font-family: arial, verdana;
    font-size: 18px;
    font-weight: bold;
}

.gameTable div.cellMine {
    color: #f00;
}

div.lost, div.won {
    margin:0 auto;
    text-align: center;
    margin-top: 10px;
    width: 20%
}


div.show-mines, div.hide-mines, div.win-check {
    background-image: url("../assets/noun_96705.png");
    height: 50px;
    width: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;

}

div.show-mines {
    background-image: url("../assets/noun_96705.png");
}

div.hide-mines {
    background-image: url("../assets/noun_96481.png");
}

div.win-check {
    background-image: url("../assets/noun_11542.png");
    width: 50px;
    margin-top: 20px;
}

div.hide-mines:hover, div.show-mines:hover, div.lost:hover, div.won:hover, div.win-check:hover{
    cursor: pointer
}

